{% extends "layout.html.twig" %}

{% block title %}what is the answer to life the universe and everything{% endblock %}

{% block stylesheets %}
<style>
    .centering {
        text-align: center;
        font-size: 210px;
    }
</style>
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1-1">
        <h1 class="centering">42</h1>
    </div>
</div>
{% endblock %}
