<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Trismegiste{% endblock %}</title>
        <meta name="keyword" content="h2g2 douglas adams"/>
        <meta name="description" content="what is the answer to life the universe and everything"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
