{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} by Trismegiste{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/pure-min.css"/>
<style>
    .centering {
        text-align: center;
        font-size: 210px;
    }
</style>
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1-1">
        <h1 class="centering">42</h1>
    </div>
</div>
{% endblock %}
